<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    ul {
        list-style: none;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .header{
        background-color: rgba(255, 255, 255, 0.7);
        border-bottom: rgba(212, 217, 219);
        position: fixed;
        width: 100%;
        backdrop-filter: blur(6px);
        top: 0;
    }

    .main{
        margin-top: 80px;
    }
</style>
<header class="header">
    <div class="header__content">
        <a href="#" class="logo">JovianCareers</a>

        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#" class="nav__link">About</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Projects</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Careers</a>
                </li>
            </ul>
        </nav>
    </div>
</header>